body {
  background-color: #FCEBB6;
  color: #221811;
  font-family: Tahoma, Arial, sans-serif;
}

body {
    background-image: url('images/fadedroad50.jpg');
  background-repeat: no-repeat;
  background-size: cover;   /* makes it fill the screen */
  background-position: center;  /* centers the image */
  background-attachment: fixed; /* keeps it still while scrolling */
}

body.menu {
  background: url('images/winding-road.jpg') no-repeat center top;
  background-size: cover;
}

main img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

body.home, body.menu, body.music {
  font-family: Tahoma, Arial, sans-serif;
  color: #221811;
  line-height: 1.6;
}

header {
  color: #8C3826;
  background-color: #D2B48C;
  text-align: center;
  padding: 10px 0;
}

h1 {
  line-height: 200%;
}

h2 {
  color: #8C3826;
}

nav {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}


footer {
  background-color: #D2B48C;
  font-size: 0.60em;
  font-style: italic;
  text-align: center;
  padding: 5px 0;
}


#wrapper {
  width: 80%;
  background-color: #FEFAEB;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#container {
  display: flex;
  justify-content: space-between; /* or center, or flex-start */
  align-items: center; /* aligns items vertically */
  gap: 20px; /* adds space between them */
}

#divider{
  background-color: #D2B48C;
  color: #221811;
  text-align: center;
  padding: 8px 0;
  font-weight: bold;
  border-radius: 5px;
  margin: 20px 0;
}

img {
 border-style: none;
 max-width: 100%;
 height: auto;}