body {
  background-color: #FCEBB6;
  color: #221811;
  font-family: Tahoma, Arial, sans-serif;
}


header {
  color: #8C3826;
  background-color: #D2B48C;
  text-align: center;
  padding: 10px 0;
}

h1 {
  line-height: 200%;
}

h2 {
  color: #8C3826;
}

nav {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}


footer {
  background-color: #D2B48C;
  font-size: 0.60em;
  font-style: italic;
  text-align: center;
  padding: 5px 0;
}


#wrapper {
  width: 80%;
  background-color: #FEFAEB;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
